
@{
    ViewBag.Title = "Epreuves";

}


<section>
    <div class="section__content section__content--p30 m-t-75">
        <div class="container-fluid" >
            <!-- USER DATA-->
            <div class="user-data m-b-40">
                <div class="row">

                    <div class="col-md-8 offset-md-2 mb-5 text-center" style="min-height:500px">

                        <h2 class="title-3 mb-4 text-center font-weight-bold">
                            <i class="iconify mr-3" data-icon="fa-regular:file-pdf" data-inline="true" style="color:goldenrod; height:35px; width:35px;"></i>
                            Les Anciens Epreuves
                        </h2>

                        <hr style="margin:15px 50px 40px 50px" />

                        <p class="font-weight-bold mb-5">Vous trouverez ici tous les anciens épreuves et vous pouvez les télécharger </p>

                        <table class="table table-primary table-bordered ">

                            <thead class="bg-light">
                                <tr>
                                    <th>Année</th>
                                    <th>Matiere</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Annee</td>
                                        <td>@item.Matiere</td>
                                        <td><a href="Download?fichier=@item.NomFichier" target="_blank"> Download </a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br /><br />
                    </div>


            </div>
        </div>
    </div>
</section>

