@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<a href="/Home/Profil">Profile</a><br />
<a href="/Home/ModifierPersonel">Modifier Personel</a><br />
<a href="/Home/ModifierDiplome">Modifier Info Diplome</a><br />
<a href="/Home/ModifierBac">Modifier Info Bac</a><br />
<a href="/Home/ModifierFiliere">Modifier Filiere</a><br />
<a href="/Home/Image">Upload Image</a><br />
<a href="/Home/Pdf">Telecharger Pdf</a><br />
<a href="/Home/Deconnexion">Deconnexion</a><br />




