
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Content/Register.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>You are 30 seconds away from earning your own money!</p>

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Login Portal</h3>
                        @using (Html.BeginForm())
                        {
                            <div class="row register-form">
                                <div class="col-md-8 offset-2">
                                    @if (TempData["message"] != null)
                                    {
                                        <div class="form-group">
                                            <div class="alert alert-success">
                                                <span>@TempData["message"]</span>
                                            </div>
                                        </div>
                                    }
                                    @if (TempData["error"] != null)
                                    {
                                        <div class="form-group">
                                            <div class="alert alert-danger">
                                                <span>@TempData["error"]</span>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Cin" value="" name="cin" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Cne" value="" name="cne" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" value="" name="password" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btnRegister" value="Login" /><br /><br />
                                        <a href="Register">Don't have an account?</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
    <div class="row">
        <img src="~/Pictures/ENSA.jpg" />
    </div>
    <div class="row text-center">
        <p>Vous avez créer un compt dans la platforme d'acces au cycle d'ingénieur a ENSAS Veuillez Vérifier Votre Compt en appuiyant sur le lien ci dessous.</p>
        <a href=\"http://localhost:49969/Auth/Verify?cne ="+candidat.Cne+" \">Link</a>
    </div>
    <div class="alert alert-danger">
        <span>Vous trouverez votre mot de pass au dessouss</span>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <strong>Nom :</strong><span>candidat.Nom</span><br />
                <strong>Prenom : </strong><span>candidat.Prenom</span><br />
                <strong>CNE : </strong><span>candidat.CNE</span><br />
                <strong>CIN : </strong><span>candidat.CIN</span><br />
                <strong>Password : </strong><span>candidat.Password</span><br />
            </div>
        </div>
    </div>
</div>


