
@{
    ViewBag.Title = "PasswordOublie";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Content/Register.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>

    <style>

        body {
            background: url("../../Pictures/image.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>

<body class=" parent" id="parent">
    <div id="child" class="child">
        <div class=" container register align-content-between" style="opacity:0.9;">
            <div class="row">
                <div class="col-md-5 register-left">
                    <img src="~/Pictures/icons_user/graduation.svg" alt="" style="width:32%; height:32%;" />
                    <h3>Bienvenue à l'ENSA</h3>
                    <p>Pour s'inscrire au concours d'accès à l'ENSA de SAFI en 3ème ou 4ème année</p>

                </div>
                <div class="col-md-7 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <br />
                            <h3 class="register-heading">Mot de passe Oublié</h3>

                            <div class="row register-form">
                                <div class="col-md-8 offset-2">
                                    <h6 class="mb-5 mt-2 text-primary">Entrer votre email pour recevoir votre ancien mot de passe</h6>
                                    
                                    @if (TempData["message"] != null)
                                    {
                                        <div class="alert alert-success">
                                            <span>@TempData["message"]</span>
                                        </div>
                                    }

                                    @if (TempData["error"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            <span>@TempData["error"]</span>
                                        </div>
                                    }

                                    @using (Html.BeginForm())
                                    {
                                        <input type="email" class="form-control" name="email" placeholder="example@xyz.com" /><br />
                                        <button class="btn btn-primary btn-block col-4">Submit</button><br />
                                        @Html.ActionLink("Retour à Login", "Login", "Auth")
                                        <br /><br />
                                    }
                                                                       
                                </div>
                            </div>
                            
                        
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>



