
@{
    ViewBag.Title = "PasswordOublie";
    Layout = null;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container mt-5">
    <h3>Entrer votre email pour recevoir a nouveau votre mot de pass</h3>
    @if (TempData["message"]!=null)
    {
        <div class="alert alert-success">
            <span>@TempData["message"]</span>
        </div>
    }
    @using (Html.BeginForm())
    {
        <label>Email : </label>
        <input type="email" class="form-control" name="email" placeholder="Email" /><br />
        <button class="btn btn-primary btn-block">Submit</button>
    }
</div>
