@model GestionConcours.Models.Candidat

@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Content/Register.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>You are 30 seconds away from earning your own money!</p>
                <a href="Login">
                    <input type="submit" name="" value="Login" /><br />
                </a>
            </div>

            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Inscription Candidat</h3>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @using (Html.BeginForm())
                        {
                            <div class="row register-form">
                                <div class="col-md-8 offset-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nom" value="" name="nom" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Prenom" value="" name="prenom" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="CIN" value="" name="cin" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="CNE" value="" name="cne" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email" value="" name="email" />
                                    </div>
                                    <div class="form-group">
                                        <select name="niveau" class="form-control">
                                            <option selected>Choix de niveau</option>
                                            <option value="3">3 ème année</option>
                                            <option value="4">4 ème année</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <h4>Choix Filiere</h4>
                                    </div>
                                    <div class="form-group">
                                        <input type="radio" name="ID" value="1" class="form-group" checked /> <span>Genie Info</span><br />
                                        <input type="radio" name="ID" value="2" class="form-group" /> <span>Genie Reseau</span><br />
                                        <input type="radio" name="ID" value="3" class="form-group" /> <span>Genie Indus</span><br />
                                        <input type="radio" name="ID" value="4" class="form-group" /> <span>Genie Procedes</span><br />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btnRegister" value="Register" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</body>
</html>




