@model GestionConcours.Models.Candidat
@{
    ViewBag.Title = "Enregistrement";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}



<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="row">

        <!-- Approach -->
        <div class="card shadow mb-4" style="margin: 20px 0 0 50px;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Enregistrement des candidats</h6>
            </div>

            <!--CIN-->
            <div class="card-body" style="width:600px;">
                <p> <strong>CIN :</strong> </p>

                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" id="value" class="form-control bg-light border-0 small" placeholder="Entrer le CIN de votre étudiant ..." aria-label="Search" aria-describedby="basic-addon2" style="width:300px;" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary" id="btn"> Submit </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Affichage des messages pour les différents cas-->
    <p> @ViewBag.msg1</p>
    <p> @ViewBag.msg2</p>

    <!--Ici, l'insertion des infos et tableau avec AJAX-->
    <div id="divEnreg"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //submit button
        $("button").on("click", function () {
            $.get("/Admin/Enregistrement3A", { cin: $("#value").val() }, function (data) {  //enters this scope if cin exists in db
                $("#divEnreg").empty();
                $.each(data, function (index, ligne) {

                    $("#divEnreg").append("<div class='container' style='margin:50px;width:800px; background-color:white;'> <table class='table'> <tr> <td><img src='../Pictures/ENSA.jpg' alt='ENSA logo' style='width:100px;height:100px;'></td><td><span style='margin:0 50px 0 0;'><br>ENSA de Safi <br>Concours d'accès en " + ligne.Niveau + "ème année</span> <td rowspan='4'><img src='../Pictures/userPic/" + ligne.Photo + "' alt='Personal picture' style='width:200px;height:275px;'><td></td> </tr> <tr><td> Matricule : </td><td style:'margin:0 0 0 50px;'>" + ligne.Matricule + "</td></tr></li><tr><td>CIN : </td><td><span id='cin1' style:'margin:0 0 0 50px;'>" + ligne.Cin + "</span></td><tr><td>Num dossier : </td><td><span id='dossierr'></span> </td></tr></div>")
                    $("#divEnreg").append("<div class='container'><table class='table'> <thead><tr><th> Nom</th><th>Prénom</th><th>Filière</th><th>Diplôme</th><th>CNE</th><th>Ville.Dipl</th><th>Convoqué</th></tr> </thead> <tbody> <tr><td>" + ligne.Nom + "</td><td>" + ligne.Prenom + "</td> <td><span id='idFil'>" + ligne.ID + "</span></td><td id='diplome'>" + ligne.ID + "</td><td id='cne'>" + ligne.Cne + "</td><td>" + ligne.Ville + "</td><td>" + ligne.Convoque + "</td></tr> </tbody ></table ></div > ")

                    $.get("/Admin/getFiliere", { id: parseInt($("#idFil").text()) }, function (date) {
                        $("#idFil").empty();

                        $.each(date, function (index, line) {
                            $("#idFil").append(line.Nom)
                        });
                    });
                    $.get("/Admin/getDiplome", { cne: $("#cne").text() }, function (datee) {
                        $("#diplome").empty();

                        $.each(datee, function (index, linee) {
                            $("#diplome").append(linee.Type)
                        });
                    });
                    $.get("/Admin/generateNumDossier", { cin: $("#value").val() }, function (daata) {

                    });
                    $.get("/Admin/getNumDossier", { cin: $("#value").val() }, function (daata) {
                        $("#dossierr").empty();

                        $.each(daata, function (index, lini) {
                            $("#dossierr").append(lini.Num_dossier)
                        });
                    });
                });
            });
        });
    });

</script>


