
@{
    ViewBag.Title = "Selection";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}

<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="align-content-center">
        <h3 class="font-weight-bold text-center pt-3 pb-5" id="title">Sélection du 3ème année</h3>
        <div class="row mb-4 justify-content-center">
            <div class=" col-md-7">

                <div class="form-horizontal ">

                    <form id="#formConf">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Filière : </label>
                            <div class="col-md-8">
                                <select class="form-control" name="Filiere" id="FiliereSelect" onchange="selected()">
                                    <option selected value="0">Choisir le niveau</option>
                                    <option value=3>3 eme Année</option>
                                    <option value=4>4 ème Année</option>
                                    
                                </select>
                            </div>
                        </div>



                    </form>
                  
                </div>
            </div>


        </div>
    </div>



    <div>

        <table class="table table-bordered table-responsive" id="tableSelection">
            <tr class="table-primary">
                <th class="text-center">N°</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Prenom</th>
                
                <th class="text-center">Filiere</th>
                <th class="text-center">Cin</th>
                <th class="text-center">Enregistrer</th>

            </tr>

            <tbody id="tbody"></tbody>


        </table>

    </div>

</div>
<!-- /.container-fluid -->
<script>




    

    function selected() {  
   
            var f = $("#FiliereSelect").val();
            $.get("/Admin/getEtudiantByNiveau", {  niveau: f }, function (data) {

                var num = 0;
                
                $('#tbody').empty();

                

                data.forEach(function (element) {
                    var filiere = "Filiere";
                    num++;
                   
                    if (element.Num_dossier == 0) {

                        $('#tbody').append(
                            '<tr>' +
                            '<td>' + num + '</td>' +
                            '<td>' + element.Nom + '</td>' +
                            '<td>' + element.Prenom + '</td>' +

                            '<td>' + element.Filiere + '</td>' +
                            '<td>' + element.Cin + '</td>'+
                            '<td id="'+element.Cin+'"> <input type="submit" value="Enregistrer" onclick="clicked(\'' + element.Cin + '\')" /> </td>' +
                            '</tr>' ) 
                    }


                    else {

                        $('#tbody').append(
                            '<tr>' +
                            '<td>' + num + '</td>' +
                            '<td>' + element.Nom + '</td>' +
                            '<td>' + element.Prenom + '</td>' +
                           
                            '<td>' + element.Filiere + '</td>' +
                            '<td>' + element.Cin + '</td>' +
                            '<td> <p class="btn btn-success">Enregistré </p> </td>' +
                            '</tr>')
                    }

                });  

            });


    }

    function clicked(data) {
        
        $.get("/Admin/generateNumDossier", { cin: data }, function (daata) {

        });

        $('#'+data+'').empty();
        $('#' + data + '').append('<p class="btn btn-success">Enregistré </p>')
      



    }

</script>



