
@{
    ViewBag.Title = "Preselection";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <!-- Counter - Messages -->
                        <span class="badge badge-danger badge-counter">7</span>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">
                            Message Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                <div class="small text-gray-500">Emily Fowler · 58m</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                <div class="status-indicator"></div>
                            </div>
                            <div>
                                <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                <div class="small text-gray-500">Jae Chun · 1d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                <div class="status-indicator bg-warning"></div>
                            </div>
                            <div>
                                <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div>
                                <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                <div class="small text-gray-500">Chicken the Dog · 2w</div>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                        <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="align-content-center">
                <h3 class="font-weight-bold text-center pt-3 pb-5">Présélection3 ème année</h3>
                <p id="erreur" class="text-center" style="display:none; color:crimson;">Veuillez remplir tous les champs !</p>
                <div class="row mb-4 justify-content-center">
                    <div class=" col-md-7">

                        <div class="form-horizontal ">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Filière : </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="fil" id="fil">
                                        <option selected value="0">Choix du Filiere</option>
                                        <option value="Informatique">Génie Informatique</option>
                                        <option value="Industriel">Génie Industriel</option>
                                        <option value="GTR">GTR</option>
                                        <option value="GPMC">GPMC</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Type du Diplôme : </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="diplome" id="diplome">
                                        <option selected value="0">Choix du diplome</option>
                                        <option value="DUT">DUT</option>
                                        <option value="DEUG">DEUG</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Coefficients des semestres : </label>
                                <div class="col-md-2">
                                    <select class="form-control" name="Cs1" id="Cs1">
                                        <option selected value="0">S1</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" name="Cs2" id="Cs2">
                                        <option selected value="0">S2</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" name="Cs3" id="Cs3">
                                        <option selected value="0">S3</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" name="Cs4" id="Cs4">
                                        <option selected value="0">S4</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Coefficient de Bac : </label>
                                <div class="col-md-2">
                                    <select class="form-control" name="Cbac" id="Cbac">
                                        <option selected value="0">Bac</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Note Seuil : </label>
                                <div class="col-sm-2">
                                    <input type="text" name="seuil" id="seuil" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row pt-5">
                                <div class="col-md-5">
                                    <button id="btn_table2" class="btn btn-info py-2 btn-block" style="display:none;">Afficher la liste des convoqués</button>
                                </div>
                                <div class="col-md-5 offset-2">
                                    <button id="btn_preselec" class="btn btn-primary py-2 btn-block">Lancer la présélection</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div id="info" style="display:none;">
                <hr class="info_hr" style="width:70%" />
                <div class="align-content-center py-4">
                    <div class="row justify-content-center">
                        <h4 class="font-weight-bolder">
                            Nombre :
                            <span id="info_sum1"> </span>
                            <span id="info_sum2"> </span>
                        </h4>
                    </div>
                </div>
            </div>


            <div id="table" style="display:none;">
                <table class="table table-bordered table-responsive">
                    <tr>
                        <th class="text-center">N°</th>
                        <th class="text-center">Titre</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Prénom</th>
                        <th class="text-center">Filière</th>
                        <th class="text-center">Note.Bac</th>
                        <th class="text-center">Note1</th>
                        <th class="text-center">Note2</th>
                        <th class="text-center">Note3</th>
                        <th class="text-center">Note4</th>
                        <th class="text-center">Note5</th>
                        <th class="text-center">Note6</th>
                        <th class="text-center">Dossier</th>
                        <th class="text-center">DossierL</th>
                        <th class="text-center">Diplôme</th>
                        <th class="text-center">Etablissement</th>
                        <th class="text-center">Ville.Dipl</th>
                        <th class="text-center">Matricule</th>
                        <th class="text-center">Année1</th>
                        <th class="text-center">Année2</th>
                        <th class="text-center">Année3</th>
                        <th class="text-center">Redouble1</th>
                        <th class="text-center">Redouble2</th>
                        <th class="text-center">Redouble3</th>
                        <th class="text-center">Date.Inscrip</th>
                        <!--<th class="text-center">Date.Impression</th>-->
                    </tr>
                    <tbody id="tbody"></tbody>
                </table>
                <a name="gototable"></a>
            </div>

            <div id="info2" style="display:none;">
                <hr style="width:70%" />
                <div class="align-content-center py-4">
                    <div class="row justify-content-center">
                        <h4 class="font-weight-bolder col-md-6 text-center">Liste des candidats convoqués au concours d'accès en 3ème année <span id="info2_fil"></span></h4>
                    </div> 
                    <div class="row justify-content-center pt-2">
                        <h5 class="text-center">Année 2019/2020</h5>
                    </div>
                </div>
            </div>

            <div class="row">

                <div id="tableConvoq" class="col-md-6 offset-md-3" style="display:none;">
                    <table class="table table-bordered ">
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prénom</th>
                            <th class="text-center">Matricule</th>
                            <th class="text-center">CIN</th>
                        </tr>
                        <tbody id="tbodyConvoq"></tbody>
                    </table>
                    <a name="gototable2"></a>
                </div>

            </div>


        </div>
        <!-- /.container-fluid -->

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/js/jquery-dateformat.min.js"></script>
<script>
    
    $(document).ready(function () {

        $("#info_sum2").css("color", "red");
        $("#info2_fil").css("color", "darkslateblue");


        //######################################## Ancienne Config
        $("#diplome").change(function () {

            if ($("#fil option:selected").val() != '0') {

                loadingData();
                
            }
        });
        $("#fil").change(function () {

            if ($("#diplome option:selected").val() != '0') {

                loadingData();

            }
        });

        //######################################## Button Preselection
        $("#btn_preselec").click(function () {

            valider();
            if (valider()) {

                $("#info2_fil").text($("#fil").val());
                $.get("/Admin/CalculerPreselec", { fil: $("#fil :selected").val(), diplome: $("#diplome :selected").val(), Cs1: $("#Cs1 :selected").val(), Cs2: $("#Cs2 :selected").val(), Cs3: $("#Cs3 :selected").val(), Cs4: $("#Cs4 :selected").val(), Cbac: $("#Cbac :selected").val(), seuil: $("#seuil").val(), niv: 3 }, function (data) {

                    $("#tableConvoq").hide();
                    $("#info2").hide();
                    $("#btn_table2").show();
                    $("#table").show();
                    $("#tbody").empty();

                    getPourcentage();
                    scrollToAnchor('gototable');

                    $.each(data, function (index, row) {

                        remplirTable(index, row);
                    });                    
                });
            }            
        });

        //######################################## Button Convoqués
        $("#btn_table2").click(function () {
            $.get("/Admin/GetConvoquets", { fil: $("#fil :selected").val(), diplome: $("#diplome :selected").val(), niv: 3 }, function (data) {

                $("#table").hide();
                $("#info").hide();
                $("#info2").show();
                $("#tableConvoq").show();
                $("#tbodyConvoq").empty();
                $("#info2_fil").text($("#fil :selected").val());

                $.each(data, function (index, row) {
                    $("#tbodyConvoq").append(
                        "<tr><td>" + (index + 1) + "</td><td>" + row.Nom +
                        "</td><td>" + row.Prenom + "</td><td>" + row.Matricule + 
                        "</td><td>" + row.Cin + "</td></tr>");

                });
                scrollToAnchor('gototable2');

            });            
        });
        //################################### Loading Data       
        function loadingData() {

            $("#Cs1").val(0);
            $("#Cs2").val(0);
            $("#Cs3").val(0);
            $("#Cs4").val(0);
            $("#Cs5").val(0);
            $("#Cs6").val(0);
            $("#Cbac").val(0);
            $("#seuil").val(0);

            $("#table").hide();
            $("#tableConvoq").hide();
            $("#info2").hide();
            $("#btn_table2").hide();

            // set Configuration
            $.get("/Admin/GetConfig", { fil: $("#fil :selected").val(), diplome: $("#diplome :selected").val() }, function (data) {
                
                $("#tableConvoq").hide();
                $("#info2").hide();
                $("#table").show();
                $("#btn_table2").show();

                $("#Cs1").val(data.CoeffS1);
                $("#Cs2").val(data.CoeffS2);
                $("#Cs3").val(data.CoeffS3);
                $("#Cs4").val(data.CoeffS4);
                $("#Cs5").val(data.CoeffS5);
                $("#Cs6").val(data.CoeffS6);
                $("#Cbac").val(data.CoeffBac);
                $("#seuil").val(data.NoteSeuil);
            });

           
            //loading data in table
            $.get("/Admin/GetConvoquets", { fil: $("#fil :selected").val(), diplome: $("#diplome :selected").val(), niv: 3 }, function (data) {
                if (data.length !== 0) {

                    $("#tableConvoq").hide();
                    $("#info2").hide();
                    $("#table").show();
                    $("#erreur").hide();
                    $("#btn_table2").show();
                }

                $("#info2_fil").text($("#fil :selected").val());
                getPourcentage();
                $("#tbody").empty();

                $.each(data, function (index, row) {
                    remplirTable(index, row);
                    scrollToAnchor('gototable');
                });

            });            
        }

        //######################################## Remplir Table
        function remplirTable(index, row) {
            //Date
            var milli = row.Date_inscription.replace(/\/Date\((-?\d+)\)\//, '$1');
            var date_inscrip = new Date(parseInt(milli)).toLocaleString();
            //table
            $("#tbody").append(
                "<tr><td>" + (index+1) + "</td><td>" + row.Sexe + "</td><td>" + row.Nom +
                "</td><td>" + row.Prenom + "</td><td>" + row.Filiere +
                "</td><td>" + row.NoteBac + "</td><td>" + row.Note1 +
                "</td><td>" + row.Note2 + "</td><td>" + row.Note3 +
                "</td><td>" + row.Note4 + "</td><td>" + row.Note5 +
                "</td><td>" + row.Note6 + "</td><td>" + row.NoteDip +
                "</td><td>" + row.NoteLic + "</td><td>" + row.Type_dip +
                "</td><td>" + row.Etablissement + "</td><td>" + row.Ville_dip +
                "</td><td>" + row.Matricule + "</td><td>" + row.AnneUni1 +
                "</td><td>" + row.AnneUni2 + "</td><td>" + row.AnneUni3 +
                "</td><td>" + row.Redoublant1 + "</td><td>" + row.Redoublant2 +
                "</td><td>" + row.Redoublant3 + "</td><td>" + date_inscrip +
                "</td></tr>");
        }

        //####################################### Validation

        function valider() {
            if ($("#fil :selected").val() == 0 || $("#diplome :selected").val() == 0 || $("#Cs1 :selected").val() == 0 ||
                $("#Cs2 :selected").val() == 0 || $("#Cs3 :selected").val() == 0 || $("#Cs4 :selected").val() == 0 ||
                $("#Cbac :selected").val() == 0 || $("#seuil").val() == 0) {
                console.log("#######erreuuuuuuuuue");

                $("#erreur").show();
                return false;
            }
            else {

                $("#erreur").hide();
                return true;
            }
        }


        //######################################## Pourcentage

        function getPourcentage() {

            $("#info").show();
            $.get("/Admin/GetPourcentage", { fil: $("#fil :selected").val(), diplome: $("#diplome :selected").val(), niv: 3 }, function (data) {
                $("#info_sum1").empty();
                $("#info_sum2").empty();

                $.each(data, function (index, row) {
                    if (index == 0) {
                        $("#info_sum1").append(row);
                    } else {
                        $("#info_sum2").append(row);
                    }                    
                });
            });
            if (!($("#btn_table2").is(":visible"))) {
                $("#info").hide();
            }
        }

        //######################################### Scroll 
        function scrollToAnchor(aid) {
            var aTag = $("a[name='" + aid + "']");
            $('html,body').animate({ scrollTop: aTag.offset().top }, 'slow');
        }
    });
</script>
<!-- End of Content Wrapper -->
